<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.osm.dao.UserDao">
 <parameterMap id="User" type="com.osm.dto.User"/>
    <resultMap id="UserResult" type="User">
      <id column="id" property="id" />
      <result column="username" property="username" />
      <result column="password" property="password" />
    </resultMap>
    <insert id="create" parameterType="User">
		insert into user values(null, #{username}, #{password})
	</insert>
	
	<update id="update" parameterType="User">
	    update user set username=#{username}, password=#{password} where id=#{id}
	</update>
	
	<delete id="del" parameterType="String">
		delete from user where id=#{id}
	</delete>
	
	<select id="getUserById" parameterType="String" resultType="User">
		select * from user where id=#{id}
	</select>
	
	<select id="query" resultMap="UserResult">
	    select * from user
	</select>
</mapper>
